/* Change color of icons to match bar chart and selection symbol */
.esriPopup.dark div.titleButton, 
.esriPopup.dark div.titlePane .title,
.esriPopup.dark div.actionsPane .action {
  color: #B212B2;
}
/* Additional customizations */
.esriPopup.dark .esriPopupWrapper {
  border: none;
}
.esriPopup .contentPane {
  text-align: center;
}
.esriViewPopup .gallery {
  margin: 0 auto;
}
