/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.container a:link {
  color: #3eb200;
  text-decoration: none;
}

.container a:hover {
  color: white;
}

.container a:visited {
  color: #3eb200;
  text-decoration: none;
}  

html, body{
  height: 100%
}

/* Set gray background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .row.content {height:auto;}
}
